{% extends '@!EasyAdmin/layout.html.twig' %}

{% block icon %}
    <link rel="shortcut icon" href="{{ asset('images/logo/logo.svg') }}" type="image/x-icon">
{% endblock %}

{% block content %}
    <h4 class="my-3"> Utilisateur - {{ 'now'|date('l m Y') }}</h4>
{% endblock %}

    