@import 'custom';
@import "~bootstrap/scss/bootstrap";
*{
    margin: 0;
    padding: 0;
    font-family: koHo, serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.banner{
    color: white;
    background-color: var(--main-color);
    height: 150px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
}
#part1{
    margin-left: 20px;
}
#part3{
    transform: translateY(60px);
}
footer{
    background-color: var(--main-color);
}
section>article{
    margin: 40px;
    padding: 15px;
    width: 600px;
    height: 450px;
}
.articles-latest{
    display: flex;
    justify-content: center;
}

.article-heading-parent>h4{
    cursor: default;
    width: fit-content;
    transform: translate(20px, 150px);
}
.article-heading-container{
    width: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 170px;
}
.article-heading-container>article{
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.article-heading{
    margin: 10px;
    width: 400px;
    height: 100px;
}
.article-heading>h3{
    cursor: default;
    width: 250px;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.article-heading>p{
    width: 250px;
    height: 70px;
    margin-bottom: 30px;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.article-presentation{
    display: flex;
    justify-content: center;
    /* width: fit-content; */
    transition: ease 0.3s;
}

.article-presentation>a>img{
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    transition: ease 0.3s;
}
.article-presentation>a>img:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 15px;
}
.head-footer{
    display: block;
    flex-direction: column;
}
.head-footer-element{
    display: inline-block;
    margin: 10px;
}
.form-connection{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 450px;
    padding: 20px;
    border-radius: 15px;
    background-color: #e9e9e9;
    transform: translateX(950px);
    scale: 0.9;

}
.input-form{
    display: flex;
    flex-direction: column;
}
.input-form>input{
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    border-radius: 5px;
    height: 35px;
    width: 250px;
    border: none;
}
.input-form>input:focus{
    border: 1px solid green;
}
.form-connection>button{
    background-color: var(--secondary-color);
    color: white;
    border: none;
    height: 35px;
    width: 120px;
    border-radius: 5px;
    margin: 10px;
}
.img-deco{
    display: flex;
    width: 500px;
    position: absolute;
    bottom: 150px;
    left: 70px;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 15px;
}
.all-articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}
.container-article{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.articles-item{
    border: 1px solid gray;
    width: 350px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    transition: ease 0.3s;
}
.articles-item>p{
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden; 
}
.map>iframe{
    max-width: 100%; 
    height: 300px;
}


.articles-item:hover{ box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }

@media screen and (max-width:576px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: koHo, sans-serif;
    }
    section>article{
        margin: 15px;
        width: 350px;
    }
    .head-footer{
        display: flex;
        align-items: center;
    }
    #head-footer-element-1{ order: 2;}
    #head-footer-element-2{ order: 1;}
    .article-heading{
        width: 300px;
        height: 150px;
    }
    .article-presentation{
        width: 320px;
    }
    .article-presentation>button{
        transform: translate(140px,140px);
    }
    .banner{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 400px;
    }
    .map>iframe{
        max-width: 100%; 
        height: 250px;
    }
    .form-connection{
        transform: translateX(20px);
        scale: 0.9;
    }
    .img-deco{
        all: unset;
        overflow: hidden;
        width: 250px;
    }
    #part1{
        order: 1;
        margin: 15px;
        width: auto;
        height: auto;
    }
    #part2{ 
        order: 3;
        padding: 15px;
        width: 350px;
    }
    #part2>h2{
        font-weight: bold;
    }
    #part3{
        align-items: unset;
        order: 2;
    }
    #part3>img{
        display: none;
        border: 2px solid yellow;
        width: 100px;
        height: 80px;
    }
}