.article-page>img{
    aspect-ratio: 16 / 9;
    object-fit: cover;
    transition: ease 0.3s;
}
.article-page>img:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
}
.article-page{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article-page>p:first-child{
    font-size: 12px;
}
.article-content{
    width: 55%;
}

@media screen and (max-width:576px){
    .article-content{
        width: 95%;
        border: 2 px solid blue;
    }
    .article-page>img{
        max-width: 100%; 
        height: auto;
        object-fit: cover;
        aspect-ratio: 16 /9 ;
    }
}